<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon mat-icon-button class="fa fa-bars" *ngIf="!sidenav.opened"></mat-icon>
    <mat-icon class="fa fa-times" *ngIf="sidenav.opened"></mat-icon>
  </button>
  Stock Analysis By Infinan
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRemYOFuTQkjCENyZa_uyJcfMz8qRviyVgGwA&usqp=CAU"
    />

    <h4 class="name">Yogendra Rajput</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/calculators">
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
      <span class="fa fa-home">EPS</span>
    </button>

    <button mat-button class="menu-button" routerLink="/calculators/eps-growth">
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
      <span class="	fa fa-bar-chart">EPS Growth</span>
    </button>

    <button mat-button class="menu-button" routerLink="/calculators/price-to-earning">
      <!-- <mat-icon class=""></mat-icon> -->
      <span class="fa fa-money">Price To Earning</span>
    </button>

    <button mat-button class="menu-button" routerLink="/calculators/intrinsic-value">
      <!-- <mat-icon>info</mat-icon> -->
      <span><i class="fa fa-line-chart"></i>Intrinsic Value</span>
    </button>

    <button mat-button class="menu-button" routerLink="/calculators/net-income">
      <!-- <mat-icon>info</mat-icon> -->
      <span><i class="fa fa-inr"></i>Net Income</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <!-- <mat-icon>help</mat-icon> -->
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
