
 <nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="container">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</div>


</nav>

<div class="container">


  <section class="section-space">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="">

            <div class="row">
              <div class="col-sm-4">
                <h5 class="card-title">What is EPS(Earning Per Share) ?</h5>
                <p class="card-text text-justify text-14">Earnings per share (EPS) is the monetary value of earnings per outstanding share of common stock for a company. It is a key measure of corporate profitability and is commonly used to price stocks.[1]

                  In the United States, the Financial Accounting Standards Board (FASB) requires EPS information for the four major categories of the income statement: continuing operations, discontinued operations, extraordinary items, and net income.


                  <!-- For more info you can go through this video -->
                </p>

                <img class="img-fluid" src="assets/img/formula.png"   alt="">
              </div>
              <div class="col-sm-4">
                <iframe   [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
        <a href="https://www.youtube.com/@yogendrarajput1037" class="text-left ">Subscribe for more info.</a>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">How to Calulate EPS</h5>
                    <div class="form-group">
                      <label  >Net Income of Company</label>
                      <input #netincome type="text" class="form-control"   placeholder="Enter Net Income of Company">
                    </div>
                    <div class="form-group">
                      <label  >Total Number of Shares</label>
                      <input #totalshare type="text" class="form-control"   placeholder="Enter Number of Shares">
                    </div>


                    <div class="form-group">
                      <!-- <label> EPS =  {{eps}} </label> -->
                      <label>EPS = {{epssssssss }} </label>


                      <!-- <input type="text" class="form-control"   placeholder="Enter Number of Shares"> -->
                    </div>

                    <button (click)="calulatEps(netincome.value,totalshare.value)" type="submit" class="btn btn-primary">Calculate</button>
                  </div>
                </div>
              </div>
            </div>




            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>
  </section>

  <section  class="section-space">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="">

            <div class="row">
              <div class="col-sm-4">
                <h5 class="card-title">EPS(Earning Per Share) Growth Rate ?</h5>
                <p class="card-text text-justify text-14">In which rate the company’s EPS is growing.

                  <img class="img-fluid" src="assets/img/epsgrowth.png"   alt="">
                  <img class="img-fluid" src="assets/img/epsgrowthexample.png"   alt="">


                </p>
              </div>
              <div class="col-sm-4">
                <iframe   [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
        <a href="https://www.youtube.com/@yogendrarajput1037" class="text-left ">Subscribe for more info.</a>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">EPS Growth Rate</h5>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Current EPS</label>
                      <input #currenteps type="text" class="form-control"   placeholder="Enter Current EPS">
                    </div>
                    <div class="form-group">
                      <label  >Previous EPS</label>
                      <input #previouseps type="text" class="form-control"   placeholder="Enter Previous EPS">
                    </div>

                    <div class="form-group">
                      <label  >Time (in years)</label>
                      <input #time type="text" class="form-control"   placeholder="Time (in years)">
                    </div>



                    <div class="form-group">
                      <label>EPS Growth % = {{epsGrowth |  number : '1.2-2'}} </label>
                      <hr>
                      <!-- <input type="text" class="form-control"   placeholder="Enter Number of Shares"> -->
                    </div>

                    <button (click)="calulatEpsgrowth(currenteps.value,previouseps.value,time.value)" type="submit" class="btn btn-primary">Calculate</button>
                  </div>
                </div>
              </div>
            </div>




            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>
  </section>


  <section  class="section-space">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="">

            <div class="row">
              <div class="col-sm-4">
                <h5 class="card-title">PE (Price To Earning) Ratio ?</h5>
                <ul>
                  <li>
                The ratio for valuing a company that measures its current share price relative to its per-share earnings.

                  </li>
                  <li>PE is basically how much an investor pays for each rupee of profit earned</li>
                  <li>It is used for valuing companies and to find out whether they are overvalued or undervalued
                  </li>
                  <li>According to many investors, Average PE Ratio Range: 20-25%.
                  </li>
                  <li>But Please keep in mind, for different industries the fair PE will be different, i.e. for one industry 10 PE ratio will be average where for another industry 80PE will be average.
                  </li>
                  <li>So we can’t say directly what is goo or Bad PE. It depends on Industry.</li>
                  <li> <img class="img-fluid" src="assets/img/peformula.png" alt=""></li>

                </ul>
              </div>
              <div class="col-sm-4">
                <iframe   [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
        <a href="https://www.youtube.com/@yogendrarajput1037" class="text-left ">Subscribe for more info.</a>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Calculate PE</h5>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Market Value Per Share </label>
                      <input #maketvalue type="text" class="form-control"   placeholder="Market Value Per Share ">
                    </div>
                    <div class="form-group">
                      <label  >Company Earning Per Share</label>
                      <input #eps type="text" class="form-control"   placeholder="Company Earning Per Share">
                    </div>





                    <div class="form-group">
                      <label>PE = {{pe |  number : '1.2-2'}} </label>
                      <hr>
                      <!-- <input type="text" class="form-control"   placeholder="Enter Number of Shares"> -->
                    </div>

                    <button (click)="calulatePe(maketvalue.value,eps.value)" type="submit" class="btn btn-primary">Calculate</button>
                  </div>
                </div>
              </div>
            </div>




            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>
  </section>

  <section  class="section-space">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="">

            <div class="row">
              <div class="col-sm-4">
                <h5 class="card-title">WHat is Intrinsic Value ?</h5>
                <ul>
                  <li>
                    Intrinsic Value is the anticipated or calculated value of a company, stock, currency or product determined through fundamental analysis.


                  </li>
                  <li>It includes tangible and intangible factors.
                  </li>
                  <li>It is used for valuing companies and to find out whether they are overvalued or undervalued
                  </li>
                  <li>Intrinsic value is also called the real value (fair Value) and may or may not be the same as the current market value.

                  </li>
                  <li>Intrinsic Value can not be same for all. It depends on person what is the fair value of share for them to buy it. Because the real market value of company can be different for different investors.

                  </li>
                  <!-- <li> <img class="img-fluid" src="../assets/img/peformula.png" alt=""></li> -->

                </ul>
              </div>
              <div class="col-sm-4">
                <iframe   [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
        <a href="https://www.youtube.com/@yogendrarajput1037" class="text-left ">Subscribe for more info.</a>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Calculate Intrinsic value </h5>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Earnings per share (EPS)  </label>
                      <input #epsvalue type="text" class="form-control"   placeholder="Enter Earnings per share (EPS) ">
                    </div>
                    <div class="form-group">
                      <label  >Earnings Growth Rate</label>
                      <input #growthrate type="text" class="form-control"   placeholder="Enter earnings growth rate">
                    </div>

                    <div class="form-group">
                      <label  >PE Ratio</label>
                      <input #peratio type="text" class="form-control"   placeholder="Enter earnings growth rate">
                    </div>





                    <div class="form-group">
                      <label>IE = {{intrinsic |  number : '1.2-2'}} </label>

                      <!-- <input type="text" class="form-control"   placeholder="Enter Number of Shares"> -->
                    </div>

                    <button (click)="calulateIe(epsvalue.value,growthrate.value ,peratio.value)" type="submit" class="btn btn-primary">Calculate</button>
                  </div>
                </div>
              </div>
            </div>




            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>
  </section>

  <section  class="section-space">
    <div class="row">
      <div class="col-sm-12">
        <div class="">
          <div class="">

            <div class="row">
              <div class="col-sm-4">
                <h5 class="card-title">What will be the income of a company after few Years? </h5>
                Here we will discuss how can we calculate Stock price will reach after few years. For our example we will
                 try to find the Stock price of Infosys after 5 years from now ({{ date | date:'d/MM/YY'}})
                 <br><br>

                 <img class="img-fluid" src="assets/img/netincomeformula.png"   alt="">


              </div>
              <div class="col-sm-4">
                <iframe   [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
        <a href="https://www.youtube.com/@yogendrarajput1037" class="text-left ">Subscribe for more info.</a>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Calculate Net Income After Few Years? </h5>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Compounded Annual Growth Rate  </label>
                      <input #cagr type="text" class="form-control"   placeholder="EnterCompounded Annual Growth Rate(not percentage) ">
                    </div>
                    <div class="form-group">
                      <label  >Time</label>
                      <input #timevalue type="text" class="form-control"   placeholder="Enter time">
                    </div>

                    <div class="form-group">
                      <label  >Initial net Income</label>
                      <input #income type="text" class="form-control"   placeholder="Enter Initial net Income">
                    </div>





                    <div class="form-group">
                      <label>Final net Income = {{intialincome |  number : '1.2-2'}} </label>

                      <!-- <input type="text" class="form-control"   placeholder="Enter Number of Shares"> -->
                    </div>

                    <button (click)="calulateIncome(cagr.value,timevalue.value,income.value)" type="submit" class="btn btn-primary">Calculate</button>
                  </div>
                </div>
              </div>
            </div>




            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>
  </section>



</div>


